.unified-sidebar .MuiListItemButton-root {
  color: #000 !important;
  font-weight: bold !important;
  font-size: 1.15rem !important;
  border-radius: 4px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  min-height: 36px !important;
}
.unified-sidebar .MuiTypography-root {
  color: #000 !important;
  font-weight: bold !important;
  font-size: 1.15rem !important;
}
.unified-sidebar .MuiListItemButton-root.Mui-disabled {
  color: #000 !important;
  opacity: 1 !important;
}
.unified-sidebar .MuiListItemButton-root:hover {
  color: #000 !important;
}
